

.banner-image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-card {
    background-color: $main-green-dark;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
}

.service-img-1 {
    border: 12px solid $main-green;
    border-radius: 10px; /* Optional */
}

.service-img-2 {
    border: 12px solid $main-orange;
    border-radius: 10px; /* Optional */
}

.service-img-3 {
    border: 12px solid $main-purple;
    border-radius: 10px; /* Optional */
}

.service-img {
    max-width: 200px;
}