

.banner-image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-card {
    background-color: $main-green-dark;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
}