// Color Variables
$white: #fff;
$black: #000;
$primary-color:#f57479;
$secondary-color:#1f1f40;
$extra-color:#934ae4;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffc429;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;
$main-green: hsl(120, 100, 12);
$main-green-dark: hsl(120, 100, 10);
$main-purple: hsl(300, 70, 12);
$main-purple-dark: hsl(300, 70, 9);
$main-orange-dark: hsl(25, 85, 35);
$main-orange: hsl(25, 85, 35);
$main-orange-very-light: hsl(25, 85, 97);